.about_wrapper {
  width: auto;
  margin: 80px auto;
  /* height: calc(-100px + 80vh); */
}

.about_article {
  margin-top: 50px;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
}

.avatar {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 5px solid var(--my-primary-color);
  overflow: hidden;
  margin: 50px auto;
  background-color: var(--my-primary-color);
}

.my_emoticon {
  width: 220px;
}
