.card {
  display: flex;
  -moz-box-pack: justify;
  /* justify-content: space-between; */
  -moz-box-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 70px 0;
}

.card_item {
  margin: 10px;
  display: flex;
}

.card_icon {
  width: 100%;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s;
}

.card_icon:hover {
  transform: scale(1.5);
  background-color: white;
}
