.typewriter_title {
  font-size: var(--font-small);
  font-weight: var(--font-poppins-400);
}

.typewriter_name {
  font-size: var(--font-large);
  font-weight: var(--font-poppins-800);
}

.typewriter_desc {
  font-size: var(--font-medium);
  font-weight: var(--font-poppins-400);
}

.typewriter_wrapper {
  color: var(--my-primary-color);
  margin-top: -50px;
}

#typewriter_cursor {
  border-right: 0.1em solid var(--my-primary-color);
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .typewriter_desc {
    margin-bottom: 50px;
  }
  .typewriter_wrapper {
    color: var(--my-primary-color);
    margin-top: 0;
  }
}
